# Basic Python Review: Scalar Types & Control Flow

Reading:  *Python for Data Analysis*, Section 2.3 from Chapter 2. 

Things to remember about Python:
* Python uses indentation (spaces and tabs) to structure code instead of braces
* In Python, everything is an object
* The hash mark (#) is used to make comments
* When assigning variables in Python, you are creating a reference to the object
* Objects in Python typically have atrributes and methods accessed with the syntax ``obj.attribute`` or ``obj.method()``
    * Attributes are other Python objects stored "inside" an object
    * Methods are functions associated with an object
* In Python, indexes start at 0

## Variable Assignments
**It is considered best practice that names for variables and functions are lowercase with underscores** (see [PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)).  For example ``x = 7`` or ``this_is_a_variable = 'string'``.

###  Rules for variable names

* names can not start with a number
* names can not contain spaces
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Scalar Types

Python has some built-in types for handling "Single-value" or scalar types.  Some of the most common are shown in the table below.

Type | Description
--- | --- 
``None`` | The Python "null" value
``str`` | String type
``float`` | Floating-point number
``int`` | integer
``bool`` | boolean (True or False value)

### Numeric Types

The primary Python types for numbers are ``int`` and ``float``.

#### Python as a calculator

The Python interpreter can act as a simple calculator.   Expression syntax works just like in most other languages

Operator | Operation 
--- | --- 
+ | addition 
- | subtraction 
* | multiplication 
/ | classic division 
// | floor division 
% | modulo 
** | powers 

Note that classic division (/) always returns a float.  Also the (/) operator behaves differently in Python 2.7.

In [10]:
# Addition
5 + 5

10

In [11]:
# Subtraction 
10 - 5

5

In [12]:
# Multiplication
4*9

36

In [16]:
# Division
50 /3

16.666666666666668

In [15]:
# Floor division---returns the integer part of the results.  Note that the result is an integer and not a float
50 // 3

16

In [18]:
# Modulo---returns the remainder after division
50 % 20

10

In [20]:
# Powers
4**3

64

In [21]:
# Roots can also be done with powers
4**.5

2.0

### Strings
String literals can be written using either single or double quotes.  Some fun facts to remember about strings:
* Strings can be indexed and sliced
* Strings are immutable, meaning, they can't be changed (such as with indexing) after they are created
* Strings are iterable

In [22]:
a = 'this is a string'
b = "this is also a string"

In [26]:
a[0:10:2]

'ti sa'

In [27]:
a[::-1]

'gnirts a si siht'

In [28]:
b[0] = "T"

TypeError: 'str' object does not support item assignment

In [29]:
for letter in a:
    print(letter)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [30]:
a + b

'this is a stringthis is also a string'

In [31]:
'this' in a

True

#### Common string methods

``s = "The quick RED fox jumped over the lazy BROWN dog"``

``s.upper()``
``s.lower()``
``s.replace('e','i')``
``s.count('x')``
``s.split()``
``s.strip()``

Recall that you can type ``s.``+ tab (in Jupyter Notebook) to see addition methods

In [32]:
s = "The quick RED fox jumped over the lazy BROWN dog"

In [39]:
# make entire string upper case
s_cap = s.upper()

In [40]:
s_cap

'THE QUICK RED FOX JUMPED OVER THE LAZY BROWN DOG'

In [41]:
# make entire string lower case
s.lower()

'the quick red fox jumped over the lazy brown dog'

In [42]:
# Replace all of the o's with zero zero ("00")
s.replace('o','00')

'The quick RED f00x jumped 00ver the lazy BROWN d00g'

In [44]:
# Count the number of "e"s
s.count('e')

4

In [46]:
# Count the number of "the"s in the string.  Notice that it is case sensitive
s.lower().count('e')

5

In [ ]:
# How can we count all the "the"s, no matter the casing?

In [48]:
# Convert string into a list split up by spaces
s.split('h')

['T', 'e quick RED fox jumped over t', 'e lazy BROWN dog']

In [49]:
# take out all leading and trailing whitespace
s2 = '    My name is 007   Bond    '
print(s2)

    My name is 007   Bond

In [50]:
s2.strip()

'My name is 007   Bond'

In [53]:
# How can we remove all the extra whitespaces? (Try using .join)
"".join(s2.split())

'Mynameis007Bond'

### Booleans

Booleans in Python are written as ``True`` and ``False``.  The key words ``and``, ``or``, ``not`` can be used to combine booleans.

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not False

## Control Flow

### if, elif, else

An ``if`` statement checks a condition and evaluates code if the condition is true.  ``elif`` and ``else`` are ways to specify other conditions.

In [54]:
x = -1
if x < 0:
    print('negative')

negative

In [57]:
# use if, elif, and else to print "negative" if x is negative, "zero" if x is 0, and "positive" if x is positive

x = -1
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

negative

### For loops

``for`` loops are for iterating over an iterable item (lists, tuples, strings, even dictionaries are some examples of iterable items).   In iterable item is an object which one can iterate over.

In [58]:
my_list = [1, 2, None, 4, None, 5]
total = 0
for value in my_list:
    if value is None:
        continue
    total += value

In [59]:
print(total)

12

An iterator is an object with a ``__next__`` method.  [This stackOverflow post](https://stackoverflow.com/questions/9884132/what-exactly-are-iterator-iterable-and-iteration) discusses the difference between iterables, iterators, and iteration.  

The ``range`` and ``enumerate`` functions are helpful iterator functions.  
* ``range`` returns an object that produces a sequence of integers from start (inclusive) to stop (exclusive) by step
* `` enumerate`` yields pairs containing a count (from start, which defaults to 0) and an iterable value

In [62]:
range(0,10)

range(0, 10)

In [63]:
type(range(0,10))

range

In [ ]:
list(range(0,10))

In [65]:
## sum even numbers from 0 to 20.
sum = 0
for i in range(22):
    if i % 2 == 0:
        sum += i
print(sum)

110

In [66]:
list_of_names = ['Alison','Izzy', 'Evvy', 'Megan', 'Kristin']

In [67]:
enumerate(list_of_names)

In [68]:
list(enumerate(list_of_names))

[(0, 'Alison'), (1, 'Izzy'), (2, 'Evvy'), (3, 'Megan'), (4, 'Kristin')]

In [69]:
for i, word in enumerate(list_of_names):
    print("{a}, you are number {b} on the list".format(a=word, b=i))

Alison, you are number 0 on the list
Izzy, you are number 1 on the list
Evvy, you are number 2 on the list
Megan, you are number 3 on the list
Kristin, you are number 4 on the list

In [ ]:
for i, word in enumerate(list_of_names, start=1):
    print("{a}, you are number {b} on the list".format(a=word, b=i))

In [5]:
a = [4, 5, 6]

In [6]:
b = a

In [7]:
a[0] = 100

In [8]:
b

[100, 5, 6]